@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@-ms-viewport{
    width: device-width;
  }

html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Heebo';
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* =============== Banner CSS ===================== */
/* .banner .imagefor320{
    display: none;
} */
.logo{
    padding-top: 2%;
    font-family: 'Courgette';
    font-size: 3em;
    color: #A580FF;
    
}

nav{
    /* background: #fff; */
    /* padding-top: 2%; */
    padding-bottom: 2%;
    margin-bottom: 4%;
    padding-left: 8%;
    display:flex;
    position: fixed;
    width: 100%;
    /* height: 100%; */
    align-items: baseline;
    justify-content: space-between;
}
nav .m{
    text-decoration: none;
    color: inherit;
}
/* .appathonmainbanner nav{
    
    padding-top: 0%;
} */
nav ul{
    display: flex;
    /* flex-direction: row; */
    width: 50%;
    font-weight: normal;
    font-size: 1em;
    padding-left: 20%;
    display: flex-start;
}
nav ul li{
    /* font-size: 1em; */
    padding: 0 5%;
    list-style: none;
    letter-spacing: 0.2em;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: #94a8fd;
    /* color: #000; */
    font-weight: normal;
}
nav ul li a:hover{
    color: #A580FF;
    font-weight: normal;
}
/* .appathonmainbanner ul li a{
    display: block;
} */
/* .appathonmainbanner nav{
    position: -webkit-sticky;
    position: sticky;
} */

    @media (min-width: 320px) and (max-width: 480px) {
        .logo{
            font-size: 1.8em;
        }
        /* .scrolldown{
            display: none;
        } */
       
        nav{
            /* padding: 15% 0% 5% 5%;
            position: fixed; */
            margin-top: 5%;
        }
        .line1,.line2,.line3{
            
            width: 12px;
            height: 2px;
            background: #92A5FD;
            margin: 3px;
            border-radius: 10%;
        }
        .line2{
            width: 12px;
        }
        .line3{
            width: 12px;
        }
        nav{
            position: relative;
            align-items: baseline;
        }
        .hamburger{
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 6vh;
            transform: translate(-5%, -100%);
            z-index: 2;
            
        }
        .nav-links li a:hover{
            color: #a446db;
            font-weight: bold;
            
        }
        .nav-links{
            position: fixed;
            background: linear-gradient(#dff0fe,#8263F2);
            
            height: 100vh;
            top: 0;
            width: 100%;
            height: 80%;
            justify-content: center;
            flex-direction: column;
            
            
    
            /* =====Using Mask===== */
            clip-path: circle(0px at 90% -10%);
            -webkit-clip-path: circle(0px at 90% -10%);
            transition: all 0.3s ease-out;
            pointer-events: none; 
        }
        
        .nav-links.open{
            clip-path: circle(100px at 90% -10%);
            -webkit-clip-path: circle(1000px at 90% -10%);
            pointer-events: all;     
        }
        .scrolldown.off{
            display: none;
        }
        /* .story .contact-btn.disable{
           opacity: 0;
        } */
        .nav-links.close{
            clip-path: circle(0px at 90% -10%);
            -webkit-clip-path: circle(0px at 90% -10%);
        }       
        .nav-links li a{
            color: #fff;
            font-size: 1em;
            font-weight: normal;
        }
        .nav-links li{
            opacity: 0;
        }
        .nav-links li:nth-child(1){
            transition: all 0.1s ease 0.1s;
        }
        .nav-links li:nth-child(2){
            transition: all 0.3s ease 0.2s;
        }
        .nav-links li:nth-child(3){
            transition: all 0.3s ease 0.3s;
        }
        li.fade{
            opacity: 1;
        }
        .appathonmainbanner nav{
            /* position: fixed; */
            margin-top: 5%;
            margin-bottom: 2%;
        }
    }
 

/* ==========================  Responsive Nav hamburger ===================== */
@media (min-width: 480px) and (max-width: 768px){
    .scrolldown{
        display: none;
    }
    nav{
        position: fixed;
    }
    .line1,.line2,.line3{
        /* align-items: right; */
        width: 20px;
        height: 3px;
        background: #92A5FD;
        margin: 5px;
        border-radius: 30%;
    }
    .line2{
        width: 15px;
    }
    .line3{
        width: 10px;
    }
    nav{
        position: relative;
        align-items: baseline;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 10%;
        top: 18vh;
        transform: translate(-5%, -100%);
        z-index: 2;
    }
    .nav-links li a:hover{
        color: #a446db;
        font-weight: bold;
        /* filter: drop-shadow(0px 10px 10px #b9c9f7); */
    }
    .nav-links{
        position: fixed;
        background: linear-gradient(#dff0fe,#8263F2);
        /* background: #663980; */
        /* opacity: 10%; */
        height: 100vh;
        top: 0;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        /* align-items: center; */
        
        

        /* =====Using Mask===== */
        clip-path: circle(0px at 90% -10%);
        -webkit-clip-path: circle(0px at 90% -10%);
        transition: all 0.3s ease-out;
        pointer-events: none;
    }
    
    .nav-links.open{
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;     
    }
    .nav-links.close{
        clip-path: circle(0px at 90% -10%);
        -webkit-clip-path: circle(0px at 90% -10%);
    }
    /* .landing{
        flex-direction: column;
    } */
    .nav-links li a{
        color: #954cc0;
        /* font-weight: bold; */
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.1s ease 0.1s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.3s ease 0.2s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.3s ease 0.3s;
    }
    li.fade{
        opacity: 1;
    }
}
/* ================ Intro ================== */

.intro{
    /* margin-top: 10%; */
    display: flex;
    justify-content: space-between;
    padding: 15% 9% 5% 10%;
    
    color: #69707C;
}
.intro h1{
    font-size: 4.3em;
    /* font-weight: normal; */
    font-family: 'Heebo';
    color: #92A5FD;
}
.intro span{
    font-size: 2.1em;
    color: #FBC233;
}
.intro .texts{
    /* line-height: 3.2em; */
    margin-top: 7%;
    /* background: #292E49; */
}
.intro .texts img{
    margin-left: 0.5em;
}
.intro .texts h3{
    font-weight: normal;
    font-size: 1.2em;
    letter-spacing: 1.5px;
}
.intro .texts h1{
    font-size: 4em;
    line-height: 0.8em;
    margin-bottom: 0.2em;
}
/* .intro .texts .text4{
    line-height: 0.8em;
} */


.scrolldown{
    position: absolute;
    /* top: 50; */
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1px;
    height: 50px;
    background: rgb(189, 197, 202);
}
.scrolldown:before{
    content: '';
    position: absolute;
    top: 50;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1px;
    height: 60px;
    background: linear-gradient(transparent,#57ebff,transparent);
    animation: animate 1.8s linear infinite;
}

@keyframes animate{
    0%{
        transform-origin: top;
        transform: scaleY(0);
    }
    50%{
        transform-origin: top;
        transform: scaleY(1);
    }
    100%{
        transform-origin: top;
        transform: scaleY(1);
    }
}
@media screen and (max-width : 768px) {
    .intro .texts{
        margin-top: 10%;
        font-size: 0.5em;
    }
    .intro img{
        width: 20em;
        height: 18em;
    }
    .intro .texts .lineimg{
        width: 6em;
        height: auto;
    }
    
}
/* ============== Intro Mobile ================ */
/* @media (min-width: 320px) and (max-width: 480px) {
    
    .intro .texts{
        margin-top: 8%;
        font-size: 0.3em;
    }
    .intro .texts h3{
        letter-spacing: 0.6px;
    }
    .intro img{
        width: 9em;
        height: 8em;
    }
    .intro .texts .lineimg{
        width: 6em;
        height: auto;
    }
    } */

    @media (min-width: 320px) and (max-width: 480px){
    
        .intro {
           padding: 5% 0% 13% 3%;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 50% 50%;
        }
        .intro .texts span{
            font-size: 2em;
        }
        .intro img{  
            /* background: #41adbb;           */
            width: 10em;
            height: 9em;
        }
        .intro .texts{
            padding-left: 5%;
            /* background: #57ebff; */
            padding-top: 0%;
        }
        .intro .texts h1{
            letter-spacing: 1.5px;
            /* line-height: 1px; */
            font-size: 2.5em;
        }
        .intro .texts h3{
            letter-spacing: 0.3px;
        }
        .intro .texts img{
            /* background: #5E636C; */
            padding-left: 0%;
        }
        
        
    }
    @media (min-width: 320px) and (max-width: 480px){
        .scrolldown{
            /* top: 49vh; */
            width: 0.8px;
            height: 20px;
            background: linear-gradient(transparent,#41adbb,transparent);
        }
        .scrolldown::before{
            width: 0.8px;
            height: 22px;
        }
    }

/* ================= Story CSS =================== */

.story{
        margin-top: 2%;
        background: #F3F3F3;
        padding: 2%;
}
    .story h1{
        margin-top: 2%;
        margin-left: 9%;
        margin-bottom: 2%;
        font-size: 4em;
        color: #41423A;
        letter-spacing: 0.5rem;
    }
    .story h1 span{
        color: #A580FF;
    }
    .story p{
        width: 50%;
        text-align: justify;

    }
    .story .p1{
        font-size: 1.2em;
        width: 50%;
        letter-spacing: 0.7px;
        margin-left: 40%;
        margin-right: 10%;
        margin-bottom: 2%;
    }
    .story .p2{
        font-size: 1.2em;
        width: 50%;
        letter-spacing: 0.7px;
        margin-left: 9%;
        margin-bottom: 1%;
    }
    .story .p2 span{
        font-weight: bold;
        color: #A580FF;
    }
    .story .contact-btn a{
            border: 0;
            border-radius: 0.5rem;
            background: #A580FF;
            color: white;
            font-family: -system-ui, sans-serif;
            font-size: 1.2rem;
            line-height: 1.2;
            white-space: nowrap;
            text-decoration: none;
            padding: 1.3rem 4rem;
            cursor: pointer;
            margin-left: 72%;
            cursor: pointer;
            filter: drop-shadow(0px 10px 8px #b49fe7 );

    }
    .story .contact-btn{
        margin-bottom: 6%;
    }
    .story .contact-btn a:hover{
        background: #C2C2C2;
        filter: drop-shadow(0px 10px 8px #a9a9aa );
    }
        /* ===========  Story Responsive ========== */
@media screen and (max-width: 768px){

    .story h1{
        font-size: 2em;
    }
    .story .p1{
        font-size: 0.8em;
        letter-spacing: 0.5px;
    }
    .story .p2{
        font-size: 0.8em;
        letter-spacing: 0.5px;
    }
    .story .contact-btn a{
        padding: 1rem 1.5rem;
        font-size: 1em;
    }
}
    /* ============  Story Responsive Mobile Phone ================ */
    @media (min-width: 320px) and (max-width: 480px) {
        .story{
            padding: 5% 3%;
        }
        .story h1{
            margin-left: 5%;
            font-size: 1.4em;
            letter-spacing: 0.2rem;
            margin-bottom: 5%;
        }
        .story .p1{
            
            margin-left: 20%;
            padding-right: 5%;
            font-size: 0.6em;
            width: 80%;
            letter-spacing: 0.1px;
        }
        .story .p2{
            margin-left: 5%;
            font-size: 0.6em;
            width: 80%;
            letter-spacing: 0.1px;
        }
        .story .contact-btn a{
            padding: 0.6rem 1rem;
            font-size: 0.6em;
            border-radius: 0.5rem;
           
        }
        .story .contact-btn{
            margin-right: 5%;
            margin-top: 8%;
        }
       
        /* .story .scrolldown{
            
           
        } */
        
        
    }


/* ================= Appathon ===================== */
    .recentproject{
        margin: 8% 11%;
        font-family: 'Heebo';
    }

    .recentproject h2{
        color: #5E636C;
        margin-right: 3%   ;
        display: inline;
    }
    .appathon-banner{
        display: flex;
    }
    
    /* .appathon-banner .appimg{
        
    } */
    .appathon-banner .description{
        padding: 15% 0 10% 12%;
    }
    .appathon-banner .description h1{
        color: #5E636C;
        font-family: 'Heebo';
    }
    .appathon-banner .description h4{
        margin-left: 1%;
        color: #8E9195;
        font-weight: normal;
    }
    .appathon-banner .description .view-btn{
        display: flex;
        margin-top: 15%;
    }
    .appathon-banner .description .button{
        /* margin-top: 20%; */
        margin-left: 20%;
        color: #4e525a;
        font-weight: bold;
        /* border-radius: 10px; */
        /* font-size: 0.em; */
        /* border-color: #8E9195; */
        /* font-family: 'Noto Sans'; */
        background: #f3f3f3;
        padding: 1.5em 3em;
    }
    .appathon-banner .button a{
        color: inherit;
        text-decoration: none;
    }
    .appathon-banner .button:hover{
        color: #fff;
        background: #C2C2C2;
        filter: drop-shadow(0px 5px 5px #a9a9aa );
    }
    /* .appathon-banner .description .line{
        display: none;
        margin-top: 10%;
        margin-left: 2%;
        border: none; 
        height: 0.15em; 
        width: 4em;
        background: #5E636C; 
    } */

    /* ============= Appathon Mobile Responsive ============= */

    @media (min-width: 320px) and (max-width: 480px) {
        
        .appathon .recentproject{
            margin: 7% 6%;
        }
        .appathon .recentproject h2{
            /* margin: 0; */
            /* left: 0; */
            font-size: 15px;
        }
        .appathon .recentproject .line{
            width: 20%;
            height: auto;
        }
        .appathon-banner{
            /* background: blueviolet; */
            margin: 0 6%;
            /* width: 80%; */
            display: block;
            background: #fff;
            padding-bottom: 5%;
            filter: drop-shadow(0px 1px 2px #b6b6b6 );
           

        }
        .appathon-banner .appimg img{
            /* content: url('img/AppathonBanner-Mobile-1.png'); */
            width: 100%;
            height: auto;
            
        }
        .appathon-banner .description{
            padding: 0 2% 0 2%;
            margin-top: 4%;
        }
        .appathon-banner .description h1{
            font-size: 18px;
        }
        .appathon-banner .description h4{
            font-size: 9px;
        }
        .appathon-banner .description .view-btn{
            /* background: chartreuse; */
            margin-top: 0;
            /* width: 100%; */
        }
        .description .view-btn .button{
            /* align-items: center; */
            margin: 0;
            padding: 0.8em 2em 0 2em;
            font-size: 12px;
        }
        .description .view-btn a{
           padding-bottom: 0;
           /* background: chocolate; */
        }
        .appathon-banner .description{
            display: flex;
            justify-content: space-between;
        }

    }








    /* ============== New Cafeteria =============== */
   
    .newcafeteria{
        margin-top: 5%;
        margin-bottom: 3%;
        
    }
    .cafe-banner{
        display: flex;
    }
    .cafe-banner .cafeimg{
        /* padding: 0 10%; */
        padding-left: 11.2%;
    }
    .cafe-banner .description{
        padding: 12% 0 10% 11%;
        margin-right: 3%;
    }
    .cafe-banner .description h1{
        color: #5E636C;
        font-family: 'Heebo';
    }
    .cafe-banner .description h3{
        margin-top: 3%;
        /* margin-left: 1%; */
        color: #8E9195;
        font-weight: normal;
    }
    .cafe-banner .description .view-btn{
        display: flex;
        margin-top: 15%;
    }
    .cafe-banner .description .button{
        /* margin-top: 20%; */
        /* margin-left: 10%; */
        color: #4e525a;
        font-weight: bold;
        /* font-size: 0.em; */
        /* border-color: #5E636C; */
        background: #f3f3f3;
        padding: 1.5em 3em;
    }
    .cafe-banner .button a{
        color: inherit;
        text-decoration: none;
    }
    .cafe-banner .button:hover{
        /* background: #fefafa; */
        /* color: #f8be88; */
        /* border-color: #fefafa; */
        color: #fff;
        background: #C2C2C2;
        filter: drop-shadow(0px 5px 5px #a9a9aa );
        
    }
    .cafe-banner .description .line{
        display: none;
        margin-top: 10%;
        margin-left: 2%;
        border: none; 
        height: 0.15em; 
        width: 4em;
        background: #5E636C; 
    }

    /* ============== New Cafeteria Mobile Responsive =============== */

    @media (min-width: 320px) and (max-width: 480px) {

        .newcafeteria{
            margin-top: 11%;
            margin-bottom: 15%;
        }
        .newcafeteria .cafe-banner{
            background: #fff;
            margin: 0 6%;
            /* width: 80%; */
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            padding-bottom: 5%;
            filter: drop-shadow(0px 1px 2px #b6b6b6 );
        }
        .cafe-banner .description{
            grid-column: 1/2;
            grid-row: 2/2;
            padding: 0 2% 0 2%;
            width: 100%;
            /* margin: 0; */
            /* margin-top: 3%; */
            /* background: #41adbb; */
        }

        .newcafeteria .cafe-banner img{
            /* content: url('img/VisualElements-mobile-1.png'); */
            width: 100%; 
           height: auto;           
        }

        .newcafeteria .cafeimg{
            /* background: #41423A; */
            padding: 0;
            height: 70%;    
        }
        
        .newcafeteria .description h1{
            font-size: 15px;
        }
        .newcafeteria .description h3{
            font-size: 9.5px;
        }
        .newcafeteria .description{
            /* background: #57ebff; */
            display: flex;
            justify-content: space-between;
        }
        .newcafeteria .description .text{
            /* background: #41adbb; */
            /* margin-right: 10%; */
            padding-top: 2%;
        }
        .newcafeteria .description .view-btn{
            /* background: chartreuse; */
            /* margin-left: 5%; */
            margin-top: 5%;
            padding: 0;
            /* width: 100%; */
        }
        .newcafeteria .view-btn .button{
            /* align-items: center; */
            margin-bottom: 6%;
            padding: 1em 2em 0 2em;
            font-size: 12px;
        }
        .description .view-btn a{
           padding-bottom: 0;
           /* background: chocolate; */
        }






    }










/* =================== Daily UI ====================== */

.dailyui{
    padding-top: 4%;
    padding-bottom: 5%;
    /* background: #F2F2F2; */
}
.dailyui .images2{
    display: none;
}
.dailyui h1{
    width: 18%;
    font-family: 'Heebo';
    font-size: 2.5em;
    color: #444F57;
    margin-left: 10%;
}
.dailyui h1 span{
    color: #92A5FD;
}
.dailyui .line{
    width: 6em;
    height: 0.2em;
    background: #666464;
    margin-left: 10.5%;
    margin-bottom: 4%;
}
.dailyui .images1{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    
    
}
.dailyui .images1 img{
    margin: 0 1.2%;
    width: 21em;
    height: 19em;
}

.dailyui p{
    /* padding-top: 2%; */
    letter-spacing: 1.5px;
    font-family: 'Heebo';
    font-size: 1em;
    color: #555657;
    text-align: center;
}
.dailyui p span a{
    padding: 0 0.5%;
    font-size: 1.5em;
    color: #8263F2;
    text-decoration: none;
    cursor: pointer;
}
.dailyui .scrolldown{
    margin: 3% 0;
}
 
     /* =============== Daily UI Responsive ============== */
     @media screen and (max-width: 768px){
         .dailyui h1{
             font-size: 1.6em;
         }
         .dailyui .line{
             width: 4em;
             height: 0.1em;
         }
         .dailyui p{
             font-size: 0.7em;
         }
         .dailyui p span{
             font-size: 1em;
         }
         .dailyui .images1 img{
             margin: 0 1%;
             width: 12.5em;
             height: 11.5em;
         }
         /* ======== images ======= (Trying to fix more but now keep it up.) */
            /* .dailyui .images1 .day1{
                content: url('img/Day1-Responsive.png');
            }
            .dailyui .images1 .day2{
                content: url('img/Day2-Responsive.png');
            }
            .dailyui .images1 .day3{
                
                content: url('img/Day3-Responsive.png');
            }
            .dailyui .images1 .day4{
                content: url('img/Day4-Responsive.png');
            }
            .dailyui .images1 .day5{
                content: url('img/Day5-Responsive.png');
            }
            .dailyui .images1 .day6{
                
                content: url('img/Day6-Responsive.png');
            } */
     }

     /* .dailyui .images2{
         @include 'mobileResponsive.css'
     } */
     /* ============ Daily UI mobile Responsive ============= */
     @media (min-width: 320px) and (max-width: 480px) {
        .dailyui{
            padding-top: 0;
         }
        .dailyui h1{
            margin-left: 6%;
            font-size: 1em;
            width: 25%;
            
        }
        .dailyui .line{
            width: 3em;
            height: 0.1em;
            margin-left: 6%;
        }
        .dailyui p{
            font-size: 0.7em;
            letter-spacing: 0.5px;
            margin: 2% 0;
        }
        .dailyui p span{
            font-size: 0.8em;
        }
        .dailyui .images1 img{
            margin: 0 1.1%;
            /* width: 100%;
            height: 100%; */
            width: 10em;
            height: 9em;
        }
        /* .dailyui .images1 .day1{
            
            content: url('img/Day1-Mobile.png');
        }
        .dailyui .images1 .day2{
            content: url('img/Day2-Mobile.png');
        } */
        .dailyui .images1 .day3{
            display: none;
            /* content: url('img/Day3-Responsive.png'); */
        }
        /* .dailyui .images1 .day4{
            content: url('img/Day4Mobile.png');
        }
        .dailyui .images1 .day5{
            content: url('img/Day5-Mobile.png');
        } */
        .dailyui .images1 .day6{
            display: none;
            /* content: url('img/Day6-Responsive.png'); */
        }
        /* .dailyui .scrolldown{
          
           
        } */
        
     }
/* ================= Recent Projects ==================== */
/* .project-container{
    background: #FFFAEC;

    width: 90%;
} */
.recent-projects{
    /* border-radius: 5%; */
    display: flex;
    /* padding: 4% 0; */
    margin: 0 10%;
    /* margin-left: 10%; */
    background: #FFFAEC;
    /* background: #746d5a; */
    /* justify-content: center; */
    /* align-items: center; */
}
.recent-projects .description{
    /* background: chocolate; */
    /* padding-bottom: 6%; */
    width: 45%;
}
.recent-projects .description h3{
    padding-left: 10%;
    /* margin-right: 6%; */
    /* margin-left: 10%; */
    color: #7e7369;
    font-size: 1.5em;
    padding-top: 5%;
    
}
.recent-projects .description .line{
    /* margin-left: 50%; */
    padding-left: 20%;
    width: 6em;
    height: 0.2em;
    background: #C4C4C4;
    margin-left: 10%;
}
.recent-projects .description h1{
    /* align:center; */
    font-size: 2.1em;
    /* width: 75%; */
    text-align: center;
    margin-top: 43%;
    padding-left: 10%;
    font-family: 'Heebo';
    color: #515E67;
    /* padding-right: 5%; */
    margin-bottom: 10%;
}


.recent-projects .description a{
    border: 0;
    border-radius: 1rem;
    background: #C2C2C2;
    color: white;
    font-weight: bold;
    font-family: 'Heebo';
    font-size: 1.5rem;
    line-height: 3;
    white-space: nowrap;
    text-decoration: none;
    padding: 1.5rem 4rem;
    cursor: pointer;
    filter: drop-shadow(0px 10px 8px #eec7a1 );

}
.recent-projects .description .button{
    padding-left: 21%;
}
.recent-projects .description a:hover{
background: #C2C2C2;
filter: drop-shadow(0px 9px 8px #a9a9aa );
} 
.recent-projects .img img{
    width: 100%;
    height: 100%;
    /* padding-left: 25%; */
    /* padding: 3% 0 5% 25%; */
}
.recent-projects .scrolldown{
    top: 440vh;
}
    /* ============== Responsive Recent Project ============= */
    @media screen and (max-width: 768px){

        /* .recent-projects{
            padding: 0%;
        } */
        .recent-projects .description h3{
            font-size: 1em;
        }
        .recent-projects .description .line{
            width: 5em;
            height: 0.1em;
            margin-top: 1%;
        }
        .recent-projects .img .bgimg{
            content: url('img/caferesize-responsive.png');
            width: 100%;
            height: 100%;
        }
        .recent-projects .description h1{
            font-size: 1.4em;
            /* padding-top: 5%; */
            /* padding-left: 5%; */
        }
        .recent-projects .description a{
            padding: 1rem 1.5rem;
            font-size: 0.8em;
            border-radius: 1rem;
            margin-left: 15%;
        }
        .recent-projects .description{
            padding-top: 5%;
            width: 50%;
        }
        .recent-projects .description .button{
            padding-left: 10%;
        }
    }
    /* ============= Recent project Mobile Responsive ============= */
    @media (min-width: 320px) and (max-width: 480px) {
        .recent-projects{
            margin: 3% 4% 0% 4%;
            /* background: #ff9d42; */
            /* padding-bottom: 0%; */
            
        }
        .recent-projects .description h3{
            font-size: 0.5em;
        }
        .recent-projects .description .line{
            width: 2em;
            height: 0.1em;
            margin-top: 1%;
        }
        .recent-projects .description .img img{
            width: 100%;
            height: 100%;
        }
        .recent-projects .description h1{
            font-size: 0.5em;
            margin-top: 60%;
            padding-left: 10%;
        }
        .recent-projects .description .button{
            padding-top: 30%;
        }

        .recent-projects .description a{
           
            padding: 0.5rem 1rem;
            font-size: 0.5em;
            border-radius: 0.4rem;
            margin-left: 4%;
        }
        .recent-projects .description{
            padding-top: 5%;
            width: 50%;
            /* background: #8263F2; */
            padding-bottom: 0%;
        }
        .recent-projects .scrolldown{
            /* top: 200vh; */
            display: none;
        }
    }

/* ================ Contact ================== */

.contact{
    /* margin-top: 7%; */
    padding: 5% 10%;
    display: flex;
    justify-content: space-around;
    background: #F3F3F3;
}
.contact .left h3{
    font-size: 2em;
    font-family: 'Courgette';
    color: #7E8EAB;
    margin-top: 5%;
    margin-bottom: 10%;

}
.contact .left h5{
    font-size: 1em;
    font-weight: normal;
    line-height: 0.7em;
    font-family: 'Heebo';
    color: #646d7c;
    margin: 5% 0;
}
.contact .right h3{
    padding-left: 40%;
    width: 95%;
    font-size: 2em;
    font-family: 'Courgette';
    color: #79A0E8;
    margin-top: 12%;
    margin-bottom: 10%;

}
.contact .right .social{
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 10%; */
    filter: drop-shadow(0px 10px 10px #6f727a);
    cursor: pointer;
    /* padding: 0 10%; */
}
.fab{
    
    color: #444F57;
    font-size: 2em; 
}
     /* =============== Contact Responsive =============== */
     @media screen and (max-width: 768px){
        .contact .left h3{
            font-size: 1.5em;
        }
        .contact .left h5{
            font-size: 0.7em;
            color: #5c6074;
            letter-spacing: 0.7px;
        }
        .contact .right h2{
            font-size: 1.5em;
            width: 100%;
            padding-left: 27%;
        }
        .contact .fab{
            font-size: 1.6em;
            filter: drop-shadow(0px 0px 0px #a4a5a7);
        }
     }
     /* ========= Contact Mobile Responsive ========= */
     @media (min-width: 320px) and (max-width: 480px) {
        .contact{
            display: block;
        }

        .contact{
            padding: 5% 5%;
         }
        .contact .left{
             font-weight: lighter;
         }
        .contact .left h3{
            font-weight: normal;
            font-size: 1em;
        }
        .contact .left h5{
            font-weight: normal;
            font-size: 0.7em;
            color: #5c6074;
            letter-spacing: 0px;
            line-height: 2.5px;
        }
        .contact .left .address{
            font-weight: normal;
            /* line-height: px; */
        }
        .contact .right h3{
            /* background: #41adbb; */
            font-weight: normal;
            font-size: 1em;
            width: 100%;
            padding-left: 38%;
            margin-bottom: 5%;
        }
        .contact .social{
            /* background: #41adbb; */
            margin-bottom: 5%;
        }
        .contact .fab{
            font-size: 1.2em;
            /* filter: drop-shadow(0px 0px 0px #a4a5a7); */
        }
        /* .story .scrolldown{
            top: 200vh;
           
        } */
        
    }
    
.mmm{
    margin: 2%;
    text-align-last: center;
}
.mmm h3{
    color: #b9b9b9;
    font-size: 1em;
    letter-spacing: 2em;
    font-family: 'Comfortaa';
}
 /* =========== mmm responsive =========== */
    @media screen and (max-width: 768px){
        .mmm h3{
            font-size: 0.5em;
        }
    }
    @media (min-width: 320px) and (max-width: 480px) {
        .mmm h3{
            font-size: 0.5em;
        }
    }
/* =============== Hover Animation -============== */
@-webkit-keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .bob-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
    -webkit-animation-name: bob-on-hover-float, bob-on-hover;
    animation-name: bob-on-hover-float, bob-on-hover;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  .uparrow {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 43%;
      margin-left: 92%;
      font-size: 3em;
      position: fixed;
      top: 0;
      
  }
  .uparrow i{
      color: #a5a5a5;
      /* filter: drop-shadow(0px 7px 5px #4c4c4d); */
      
  }
  .uparrow i a{
    scroll-behavior: smooth;
  }
  .uparrow i.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.uparrow i.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
/* ========== uparrow responsive ============ */
@media screen and (max-width: 768px){
    .uparrow{
        margin-top: 75%;
        font-size: 2.5em;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .uparrow{
        margin-top: 90vh;
        font-size: 1.8em;
    }
}

/* ------------------------------  Cafeteria Page CSS -------------------------------------- */

/* ============ Intro Page ====================== */
.project-intro .container{
    /* padding-top: 10%; */
    display: flex;
}
.project-intro nav{
    padding-top: 0%;
}
.project-intro .container .description{
    margin-top: 10%;
}
.project-intro .container .description h1{
    padding-top: 5%;
    width: 80%;
    text-align: center;
    font-family: 'Heebo';
    color: #515E67;
    padding-left: 12%;
    font-size: 3em;
}
.project-intro .grid{
    display: inline-grid;
    grid-template-columns: 20% auto ;
    grid-template-rows: 10% auto 25%;
    /* background: coral; */
    margin: 5% 0;
    margin-right: 20%;
    margin-left: 8%;
    padding: 2% 0;
    row-gap: 10%;
    text-align: justify;
    color: #895428;
    line-height: 2em;
}
.project-intro .grid h2{
    font-family: 'Crimson Text';
}
.project-intro .grid span{
    font-weight: bold;
}
.project-intro .description a i{
    font-size: 1.5em;
    padding-top: 7%;
    padding-left: 80%;
    /* justify-self: flex-end; */
    color: #C9A484;
    
}
.project-intro .scrolldown{
    top: 120vh;
}
.project-intro .scrolldown::before{
    background: linear-gradient(transparent,#ff9d42,transparent);
}
@media screen and (max-width: 768px){
    .cafe-scroll{
        display: none;
    }
}
    /* =========== Intro Mobile Responsive ========== */
    @media (min-width: 320px) and (max-width: 480px) {
        .project-intro{
            margin-bottom: 10%;
        }
        .project-intro nav .logo{
            font-size: 1.8em;
        }
        .project-intro .container img{
            /* background: #41adbb; */
            width: 9em;
            height: 14.1em;          
        }
        .project-intro .container .description h1{
            font-size: 0.8em;
            width: 90%;
            padding: 0 13% 0 19%;
        }
        .project-intro .description a i{
            font-size: 0.5em;
        }
        .project-intro h3,p{
            font-size: 0.2em;
        }
        .project-intro h2{
            font-size: 0.5em;
        }
        .project-intro span{
            font-size: 0.5em;
        }
        .project-intro .grid{
            margin-left: 0%;
            margin-right: 16%;
            text-align: left;
            line-height: 0.5em;
            row-gap: 5%;
            column-gap: 0.5%;
        }
    }
       
    /* ============= Intr0 Responsive ============= */
    /* @media screen and (max-width: 768px){
        .project-intro .container img{
            content: url('img/CafeteriaIntro-responsive.png');
            width: 100%;
            height: 100%;
            
        }
        .project-intro .container .description h1{
            margin-top: 15%;
            font-size: 0.8em;
        }
        .project-intro .description a i{
            font-size: 0.8em;
        }
        .project-intro h3,h2,p{
            font-size: 0.7em;
        }
        .project-intro span{
            font-size: 0.9em;
        }
        .project-intro .grid{
            margin-left: 0%;
            margin-right: 20%;
            
            line-height: 1em;
            row-gap: 3%;
            column-gap: 0.5%;
        }
        
    } */
/* ==================== Look and feel Page ======================= */

.lookandfeel{
    padding-bottom: 5%;
}
.lookandfeel .title{
    margin-left: 20%;
    color: #515E67;
    font-size: 3em;
    margin-bottom: 2%;
    font-family: 'Heebo';
}
.lookandfeel .container{
    display: flex;
    padding: 0 10%;
}
.lookandfeel .left{
    color: #895428;
    font-size: 1.2em;
}
.lookandfeel p{
    text-align: justify;
    width: 80%;
    padding-top: 10%;
   
}
.lookandfeel p span{
    font-weight: bold;
}
/* .lookandfeel .left ul{
    background: #79A0E8;
    font-family: 'Crimson Text';
    margin-top: 10%;
    list-style: none;
    
}
.lookandfeel .left ul li img{
    background: #895428;
}
.lookandfeel .left ul li{
    
    background: #898728;
} */

.lookandfeel .grid{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 1fr 1fr 1fr;
}
.lookandfeel .grid h4{
    padding-top: 3%;
    font-family: 'Crimson Text';
    color: #A34726;
}
.lookandfeel .scrolldown{
    top: 300vh;
}
.lookandfeel .scrolldown::before{
    background: linear-gradient(transparent,#ff9d42,transparent);
}
.lookandfeel .No01{
    opacity: 5%;
    font-size: 5em;

}
    /* ==============  Look and Feel Mobile Responsive ============= */
    @media (min-width: 320px) and (max-width: 480px) {
        .lookandfeel .title{
            font-size: 0.8em;
        }
        .lookandfeel .No01{
            font-size: 01em;
        }
        .lookandfeel .left h4{
            font-size: 0.2em;
            margin-top: 2%;
            margin-left: 5%;
        }
        .lookandfeel .grid .img01{
            width: 1em;
            height: 1.05em;
        }
        .lookandfeel .grid .img02{
            width: 1em;
            height: 1.05em;
        }
        .lookandfeel .grid .img03{
            width: 1em;
            height: 1.05em;
        }
        
        .lookandfeel img{
            /* content: url('img/moodboard-mobile.png'); */
            width: 10.5em;
            height: 13.5em;
        }
        .lookandfeel .left p{
            width: 90%;
            /* text-align: left; */
        }
    }
    /* ============== Look and Feel Responsive ============= */
    /* @media screen and (max-width: 768px){
        .lookandfeel .title{
            font-size: 1.5em;
        }
        .lookandfeel .No01{
            font-size: 1.5em;
        }
        .lookandfeel .left h4{
            font-size: 0.2em;
        }
        .lookandfeel .grid .img01{
            content: url('img/1-responsive.png');
            width: 100%;
            height: 100%;
        }
        .lookandfeel .grid .img02{
            content: url('img/2-responsive.png');
        }
        .lookandfeel .grid .img03{
            content: url('img/3-responsive.png');
        }
        .lookandfeel img{
            content: url('img/moodboard-responsive.png');
            width: 100%;
            height: 100%;
        }
        .lookandfeel .left p{
            width: 100%;
        }
    } */

/* ================== Pattern Library ==================== */
.patternlibrary{
    padding-top: 3%;
    padding-bottom: 10%;
    margin-top: 4%;
    background: #FFFAEC;
}
.patternlibrary .description{
    display: flex;
}  
.patternlibrary .description .title h1{
    text-align: center;
    font-size: 3em;
    color: #515E67;
    padding: 5% 0% 10% 20%;
}
.patternlibrary .description .title{
    margin-right: 15%;
}
.patternlibrary .No02{
    opacity: 3%;
    padding-top: 5%;
    /* justify-self: end; */
    font-size: 5em;
}
.patternlibrary .title p{
    /* width: 80%; */
    text-align: justify;
    padding-left: 34%;
    color: #515E67;
}
.patternlibrary .image{
    
    color: #515E67;
    display: flex;
    justify-content: center;
}
.patternlibrary .image img{
    margin-right: 5%;
}
.patternlibrary .image .state{
    padding-top: 18%;
    padding-left: 5%;
}
.patternlibrary .state h2{
    margin-bottom: 10%;
}
.patternlibrary .image ul{
    list-style: none;
    
}
.patternlibrary .scrolldown{
    top: 470vh;
}
.patternlibrary .scrolldown::before{
    background: linear-gradient(transparent,#ff9d42,transparent);
}
    /* ================ Pattern Library Mobile Responsive ================ */
    @media (min-width: 320px) and (max-width: 480px) {
        .patternlibrary{
            margin-top: 10%;
        }
        .patternlibrary .description img{
            width: 6.5em;
            height: 5.6em;
            margin-right: 15%;
        }
        .patternlibrary .image img{
            
            width: 12em;
            height: 8.5em;
        }
        .patternlibrary .description .title h1{
            font-size: 0.8em;
            padding: 0 0 10% 0;
        }
        .patternlibrary .image .state h2{
            font-size: 0.2em;
        }
        .patternlibrary .state{
            padding-left: 10%;
        }
        .patternlibrary .No02{
            font-size: 1em;
        }
        .patternlibrary .title p{
            /* background: #57ebff; */
            padding: 0;
        }
        .patternlibrary .image ul li{
            font-size: 0.1em;
            
        }
    }
    /* =============== Pattern Library Responsive =============== */
    @media screen and (max-width: 768px){}

/* ====================== Final Week Page ========================== */
.final{
    margin-top: 5%;
}
.final .container1{
    display: flex;
}
.final h1{
    padding-left: 10%;
    font-size: 2.5em;
    width: 50%;
    text-align: center;
    color: #515E67;

}
.final h2{
    opacity: 3%;
    font-size: 5em;
}
.final .paragraphs{
    /* background: #57ebff; */
    margin-top: 12%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 5% auto;
    grid-template-rows: 10% 2% 2%;
    row-gap: 10%;
    color: #895428;
}
.final .paragraphs p{
    /* padding-bottom: 5%; */
    width: 80%;
    text-align: justify;
}
/* .final .paragraphs p:nth-child(2){
    padding-bottom: 5%;
}
.final .paragraphs p:nth-child(3){
    padding-top: 5%;
} */
.final img{
    float: right;
    margin-right: 5%;
    /* background: rosybrown; */
    top: 0%;
}
.final .container{
    display: flex;
    
}
.final .scrolldown{
    top: 620vh;
}
.final .scrolldown::before{
    background: linear-gradient(transparent,#ff9d42,transparent);
}

    /* =============== Final Week Mobile Responsive =============== */
    @media (min-width: 320px) and (max-width: 480px) {
        .final{
            padding-top: 5%;
            padding-right: 10%;
            margin-bottom: 22%;
        }
        .final h1{
            font-size: 0.8em;
            width: 70%;
            margin-bottom: 5%;
        }
        .final h2{
            font-size: 1em;
            
        }
        .final .container img{
            /* content: url('img/Group\ 27.png'); */
            width: 10em;
            height: 13.5em;
            margin-right: 0%;
            /* margin-left: 10%; */
            /* background: #41423A; */
        }
       .final .paragraphs{
           
           row-gap: 15%;
           margin-left: 10%;
       }
        .final .container .paragraphs p{
            font-size: 0.1em;
            line-height: 4em;
            width: 100%;
            text-align: left;
            
        }
        .final .container .paragraphs{
            width: 100%;
            padding-left: 0%;
            padding-right: 3%;
            /* row-gap: 15%; */
            grid-template-rows: 7% 2% 2%;
            grid-template-columns: 5% auto;

        }
        .final .container .paragraphs img{
            width: 0.05em;
            height: 0.4em;
            color: #895428;
            opacity: 10%;
        }
        
        
    }

     /* =============== Final Week Responsive ================ */
     @media screen and (max-width: 768px){}


/* ==================== Closing Page ====================== */

.closing{
    background: #FFFAEC;
    padding: 5% 0;
    text-align: center;
}
.closing h1{
    color: #939393;
}
.closing p{
    margin-top: 1%;
    letter-spacing: 0.1em;
    color: #939393;
}
.closing .back{
    display: flex;
    text-align: left;
    margin-left: 15%;
    margin-top: 3%;
}
.closing .back i{
    /* padding-top: 0.5%; */
    font-size: 2em;
    color: #BFBFBF;
}
.closing .back a{
    margin-left: 1.5%;
    padding-top: 0.4%;
    text-decoration: none;
    color: #9C9C9C;
   
}
.closing .contact-btn a{
    border: 0;
    border-radius: 0.8rem;
    background: #C2C2C2;
    color: white;
    font-weight: bold;
    font-family: 'Heebo';
    font-size: 1.2rem;
    line-height: 3;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.6em 3.5rem;
    cursor: pointer;
    filter: drop-shadow(0px 7px 8px #eec7a1 );

}
/* .closing .contact-btn .button{
    padding-left: 27%;
} */
.closing .contact-btn a:hover{
background: #C2C2C2;
filter: drop-shadow(0px 9px 8px #a9a9aa );
} 

.mmm-close{
    font-size: 0.8em;
}

    /* ================ Closing Mobile Responsive ================ */
    @media (min-width: 320px) and (max-width: 480px) {
        .closing h1{
            font-size: 0.5em;
            letter-spacing: 0.5px;
        }
        .closing .contact-btn a{
            padding: 0.3em 0.5rem;
            font-size: 0.4em;
            border-radius: 0.3rem;
            
        }
        /* .closing .contact-btn{
            border-radius: 30%;
        } */
        .closing .back i{
            font-size: 0.3em;
            padding-top: 0.5%;
        }
        .closing .back a{
            font-size: 0.3em;
            padding-top: 0%;
        }
        .mmm-close h3{
            font-size: 0.1em;
            letter-spacing: 10px;
        }
    }
    /* ================= Closing Responsive =================== */
    @media screen and (max-width: 768px){}




    /* =================== Appathon CSS ======================= */
    
    .appathonmainbanner img{
        width: 100%;
    }
    /* =========== Intro CSS ============ */
    .appathon-intro{
        margin: 5% 0;
        text-align: center;
        font-family: 'Heebo';
    }
    .appathon-intro h3{
        margin-top: 2%;
        color: #433D48;
        font-weight: normal;
    }
    .appathon-intro .des{
        padding: 5% 20%;
        text-align: justify;
        font-weight: lighter;
    }
    .appathon-intro .mission{
        margin: 7% 20%;
        padding-top: 3%;
        padding-bottom: 5%;
        background: #fefafa;
    }
    .appathon-intro .mission h2{
        color: #EC5453;
        letter-spacing: 1px;
        margin-bottom: 2%;
    }

    /* ================= Intro Mobile Responsive ================= */
    @media (min-width: 320px) and (max-width: 480px) {

        .appathon-intro h1{
            font-size: 20px;
        }
        .appathon-intro h3{
            font-size: 10px;
            /* font-weight: normal; */
        }
        .appathon-intro .des{
            font-size: 9px;
            padding: 5% 12%;
        }
        .appathon-intro .mission{
            margin: 7% 12%;
        }
        .appathon-intro .mission h2{
            font-size: 15px;
        }
        .appathon-intro .mission p{
            font-size: 8px;
            
        }

        



    }


    /* =============== Process Css =============== */
    
    .process{
        margin: 15% 0 10% 0;
    }
    .process h2{
        margin: 5% 20%;
        /* margin-bottom: 5%;    */
    }
    .process img{
        margin: 0 9%;
        margin-bottom: 5%;
    }

    /* =========== Process Mobile Responsive ============ */
    @media (min-width: 320px) and (max-width: 480px) {
        .process h2{
            font-size: 15px;
            margin: 5% 12%;
        }
        .process img{
            /* content: url(img/Process-mobile.png); */
            width: 85%;
            height: auto;
        }
    }


    /* ================= Interview CSS =============== */

    .interview{
        margin: 0 20%;
        margin-bottom: 5%;
    }
    .interview .des{
        margin-top: 7%;
        font-weight: lighter;
    }
    .interview img{
        margin-top: 2%;
    }
    .interview .person1,.person2{
        color: #8d8d8d;
        margin-top: 5%;
        text-align: justify;
        display: flex;
    }

    .interview .p1{
        padding-top: 1%;
        padding-left: 5%;
        padding-right: 3%;
    }
    .interview .p2{
        padding-top: 6%;
        padding-right: 5%;
    }

    /* ============ Inerview Mobile Responsive ============ */
    @media (min-width: 320px) and (max-width: 480px) {
        .interview{
            margin: 0 12%;
        }
        .interview h2{
            font-size: 15px;
        }
        .interview p{
            font-size: 9px;
        }
        .interview .person1 img{
            /* content: url('img/male-mobile.png'); */
            width: 25%;
            height: 25%;
            padding: 5% 0;
        }
        .interview .person2 img{
            /* content: url('img/female-mobile.png'); */
            width: 25%;
            height: 25%;
        }
        .interview .p1{
            font-size: 8px;
        }
        .interview .p2{
            font-size: 8px;
        }
    }


    /* ============== Empathy Map CSS =============== */

    .empathymap{
        margin: 15% 20%
    }
    .empathymap p{
        margin: 10% 0;
        font-weight: lighter;
    }
    .empathymap img{
        margin-top: 2%;
    }

    /* ============ Empathy Map Mobile Responsive =========== */
    @media (min-width: 320px) and (max-width: 480px) {
        .empathymap h2{
            font-size: 15px;
        }
        .empathymap p{
            font-size: 9px;
            text-align: justify;
        }
        .empathymap{
            margin: 15% 12%;
        }
        .empathymap img{
            /* content: url('img/Empathy\ Map2-mobile.png'); */
            /* background: #41adbb; */
            width: 100%;
            height: auto;
        }
    }

    /* ================= Journey Map ================ */

    .journeymap{
        /* background: coral; */
        margin: 17% 20% 0% 20%;
       
    }
    .journeymap p{
        font-weight: lighter;
        margin-top: 8%;
        margin-bottom: 10%;
    }
   
    /* ======== Carousel CSS ======= */

    /* .carousel{
        
        position: relative;
        margin: 5% auto;
        width: 100%;
        height: 600px;
    }
   
    .carousel__track-container{
        
        position: relative;
        height: 85%;
        overflow: hidden;
        
    }
    .carousel__track{
        padding: 0;
        margin: 0;
        
        list-style: none;
        position: relative;
        
        height: 100%;
        transition: transform 250ms ease-in;
    }
    .carousel__slide{
        
        padding: 0 5%;
        position: absolute;
        top: 0;
        bottom: 0;
       
    }

    .carousel__button{
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        
        background: transparent;
        border: 0;
        cursor: pointer;
    }
    .carousel__button--left{
        left: -40px;
        border: 0;
    }
    .carousel__button--right{
        right: -65px;
        border: 0;
    }
    
    .carousel__nav{
        
        display: flex;
        padding-left: 5%;
        justify-content: center;
    }
    .carousel__indicator{
        border-radius: 50%;
        border: 0;
        background: rgba(0, 0, 0, .3);
        width: 6px;
        height: 6px;
        
        margin: 1% 0.3em;
    }
    .carousel__indicator.current-slide{
        background: rgba(0, 0, 0, .7);
    }

    .is-hidden {
        display: none;
    } */

    /* ============== Journey Map Mobile Responsive ============ */
    @media (min-width: 320px) and (max-width: 480px) {
        .journeymap h2{
            font-size: 15px;
        }
        .journeymap p{
            font-size: 9px;
        }
        .journeymap{
            margin: 17% 12%;
        }
    }


    /* ============== Pure HTMLCSS Slider =============== */
    .imageslider{
        margin: 2% 22%;
        position: relative;
        width: 52%;
        overflow: hidden;
    }
    .imageslider .slider__images{
        display: flex;
        width: 100%;
    }
    .imageslider .slider__images img {
        height: 100%;
        width: 100%;
        transition: all 0.15s ease;
    }
    .slider__images input{
        display: none;
    }
    .imageslider .dots {
        /* background: #41423A; */
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    .imageslider .dots label {
        /* height: 15px;
        width: 15px;
        border-radius: 50%;
        border: solid pink 3px; */
        font-size: 0.8em;
        color: #f1a3a3;
        cursor: pointer;
        transition: all 0.15s ease;
        margin: 5px;
    }
    .imageslider .dots label:hover {
        /* background: rgb(70, 69, 69); */
        color: rgb(70, 69, 69);
    }
    
    
    #img1:checked ~ .m1 {
        /* transition: ease-in-out; */
        margin-left: 0;
    }

    #img2:checked ~ .m2 {
        /* transition: ease-in-out; */
        margin-left: -100%;
    }

    #img3:checked ~ .m3 {
        /* transition: ease-in-out; */
        margin-left: -200%;
    }
    
    /* =========== Image Slider Mobile Responsive ================ */
    @media (min-width: 320px) and (max-width: 480px) {
        .imageslider{
            margin: 0 12%;
            width: 75%;
        }
        .imageslider .dots label {
            font-size: 0.5em;
        }

     }





    /* ===================== Idea Css ==================== */
    .idea{
        /* background: coral; */
        margin: 8% 10% 5% 10%;
        /* background: chocolate; */
        display: flex;
        /* justify-content: center; */
        text-align: center;
       
    }
    .idea p{
        font-size: 0.8em;
    }
    .ooredoo{
        width: 50%;
        /* background: cyan; */
        margin-top: 3%;
    }
    .ooredoo p{
        margin-top: 5%;
    }
    
    .idea .user{
        padding-left: 2%;
        /* background: coral; */
        margin: 0 10%;
    }
    .idea .user p{
        margin-top: 5%;
    }
    .we{
        width: 55%;
        /* background: chartreuse; */
        margin-top: 3%;
    }
    .we p{
        margin-top: 5%;
    }
    
    /* ============= Idea Mobile Responsive ============== */
    @media (min-width: 320px) and (max-width: 480px) {
        .idea{
            margin-bottom: 35%;
            display: block  ;
        }
        .idea h4{
            font-size: 12px;
        }
        .idea p{
            font-size: 9px;
        }
        .idea .ooredoo{
           margin: 20% 25%;
           text-align: center;
        }
        .idea .user{
            margin: 20% 25%;
            text-align: center;
         }
         .idea .we{
            margin: 20% 25%;
            text-align: center;
            padding-left: 0;
         }
        .idea .ooredoo img{
            width: 55%;
            height: 55%;
            margin-bottom: 5%;
            /* content: url('img/ooredoo-mobile.png'); */
        }
        .idea .user img{
            width: 65%;
            height: 65%;
            margin-bottom: 5%;
            /* content: url('img/user-mobile.png'); */
        }
        .idea .we img{
            width: 55%;
            height: 55%;
            margin-bottom: 5%;
            /* content: url('img/we-mobile.png'); */
        }
    }

    /* ================= Design Mockup CSS ============= */
    .designmockup{
        /* background: darkred; */
        margin-top: 18%;
    }
    .designmockup .des{
        margin: 0 20%;
    }
    .designmockup h2{
        margin-bottom: 8%;
    }
    .designmockup p{
        font-weight: lighter;
    }
    .designmockup .p2{
        margin-top: 5%;
        margin-bottom: 8%;
    }

    /* =============== Design Mockup Mobile Responsive =============== */
    @media (min-width: 320px) and (max-width: 480px) {
        .designmockup .des{
            margin: 0 12%;
        }
        .designmockup h2{
            font-size: 15px;
        }
        .designmockup p{
            font-size: 9px;
            text-align: justify;
        }
        .designmockup img{
            /* content: url('img/DesignMockup-mobile.png'); */
            width: 100%;
            height: auto;
        }

    }


    /* ======================= Prototype CSS====================== */
    .prototype{
        margin: 10% 20%;
    }
    .prototype p{
        margin-top: 8%;
        font-weight: lighter;
        text-align: justify;
    }

    /* ============== Prototype Mobile Responsive =========== */
    @media (min-width: 320px) and (max-width: 480px) {
        .prototype{
            margin: 12%;
        }
        .prototype h2{
            font-size: 15px;
        }
        .prototype p{
            text-align: justify;
            font-size: 9px;
        }
    }


    /* ===================== Sign In CSS =================== */
    /* .signin{
       
    } */
    .signin .des{
        margin: 5% 20%;
    }
    .signin h5{
        color: #9E9E9E;
    }
    .signin h2{
        margin-bottom: 4%;
    }
    .signin .des p{
        margin-top: 3%;
        font-weight: lighter;
    }
    .signin img{
        margin-top: 3%;
    }

    /* ============== SignIn Mobile Responsive =============== */
    @media (min-width: 320px) and (max-width: 480px) {
        .signin .des{
            margin: 0 12%;
        }

        .signin h5{
            font-size: 6px;
        }
        .signin h2{
            font-size: 12px;
        }
        .signin h4{
            font-size: 9px;
        }
        .signin p{
            font-size: 9px;
            text-align: justify;
        }
        .signin img{
            margin-top: 8%;
            /* content: url('img/signin-mobile.png'); */
            width: 100%;
            height: auto;
        }
    }


    /* ================== Home Page CSS =================== */
    .homepage{
        /* background: darkblue; */
        margin: 5% 5% 10% 0;
        display: flex;
    }
    .homepage .des{
        padding: 3% 0% 0 5%;
    }
    .homepage .class1-2-3-4{
        /* background: darkblue; */
        /* width: 80%; */
        margin-top: 10%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        column-gap: 0.7em;
        row-gap: 1.5em;
    }
    .homepage .homepageimg{
        margin-left: 15%;
    }
    .homepage .class1-2-3-4 .text{
        font-size: 1em;
    }
    .homepage h5{
        color: #9E9E9E;
    }
    .homepage h2{
        margin-bottom: 4%;
    }
    /* .homepage h4{
        background: coral;
        font-weight: normal;
    } */
    .homepage .des p{
        margin-top: 5%;
        font-weight: lighter;
    }
    .homepage .subtitle{
        font-weight: normal;
    }

    /* ================ Homepage Mobile Responsive =============== */
    @media (min-width: 320px) and (max-width: 480px) {
        .homepage{
            margin: 15% 0;
        }
        .homepage .des{
            margin: 0;
            margin-right: 5%;
            padding: 0;
            width: 55%;
            /* padding-left: 2%; */
        }

        .homepage h5{
            font-size: 6px;
        }
        .homepage h2{
            font-size: 12px;
        }
        .homepage h4{
            font-size: 9px;
        }
        .homepage p{
            font-size: 9px;
            text-align: justify;
        }
        .homepage .homepageimg{
            /* visibility: hidden; */
            /* padding: 9% 5%; */
            /* padding-left: 0; */
            padding-top: 5%;
            /* background: lawngreen; */
            /* margin-top: 0; */
            /* margin: 0; */
            margin-left: 5%;
            width: 40%;
            height: auto;
            /* content: url('img/Homepage-mobile.png'); */

        }
        .homepage .class1-2-3-4{
            margin-top: 5%;
            display: block;
        }
        .homepage .class1-2-3-4 .text{
            font-size: 7px;
        }
        .homepage .class1-2-3-4 img{
            width: 13px;
            height: 13px;
            margin-right: 5%;
        }
        .homepage .class1-2-3-4 .one .title{
            display: flex;
        }
        .homepage .class1-2-3-4 .two .title{
            display: flex;
        }
        .homepage .class1-2-3-4 .three .title{
            display: flex;
        }
        .homepage .class1-2-3-4 .four .title{
            display: flex;
        }
        .one,.two,.three,.four{
            margin-bottom: 5%;
        }
}

    /* =============== Package Purchase CSS =============== */

    .package-purchase{
        /* background: coral; */
        display: flex;
        margin-left: 15%;
        width: 85%;
        /* right: 0; */
    }
    
    .package-purchase h5{
        color: #9E9E9E;
    }
    .package-purchase h2{
        margin-bottom: 4%;
    }
    .package-purchase .des{
        width: 60%;
        /* background: darkgoldenrod; */
    }
    .package-purchase .des p{
        /* background: darkred; */
        width: 80%;
        text-align: justify;
        margin-top: 5%;
        /* padding-right: 5%; */
        font-weight: lighter;
    }
    /* .package-purchase img{
        padding-left: 0;
        margin-left: 5%;
        background: darkblue;
    } */
    
    /* =============== Package Mobile Responsive ================ */
    @media (min-width: 320px) and (max-width: 480px) {
        .package-purchase{
            /* background: lawngreen; */
            margin: 0 0 0 10%;
        }
        .package-purchase h5{
            font-size: 6px;
        }
        .package-purchase h2{
            font-size: 12px;
        }
        .package-purchase h4{
            font-size: 9px;
        }
        .package-purchase .des p{
            /* background: lightblue; */
            padding: 0;
            font-size: 9px;
            text-align: justify;
        }
        .package-purchase .des{
            width: 100%;
        }
        .package-purchase img{
            /* margin-right: 0; */
            margin-top: 7%;
            width: 40%;
            height: auto;
            /* background: lawngreen; */
            /* content: url('img/Package-mobile.png'); */
        }
    }

    /* ============== TopUp Flow CSS ============== */
    .topupflow{
        margin: 7% 0 7% 0;
    }
    .topupflow .des{
        margin-left: 40%;
    }
    .topupflow h5{
        color: #9E9E9E;
    }
    .topupflow h2{
        margin-bottom: 4%;
    }
    .topupflow .des p{
        text-align: justify;
        margin-top: 3%;
        /* padding-right: 5%; */
        font-weight: lighter;
    }
    .topupflow img{
        margin-top: 5%;
    }

    /* =========== TopUp Mobile Responsive ============ */
    @media (min-width: 320px) and (max-width: 480px) {
        .topupflow .des{
            margin: 0 10%;
            margin-right: 5%;
            padding: 0;
            
        }

        .topupflow h5{
            font-size: 6px;
        }
        .topupflow h2{
            font-size: 12px;
        }
        .topupflow h4{
            font-size: 9px;
        }
        .topupflow p{
            width: 80%;
            font-size: 9px;
            text-align: justify;
        }
        .topupflow img{
            width: 100%;
            height: auto;
            /* content: url('img/Topup-mobile.png'); */
        }
    }

    /* ============== Profile CSS ================== */
    .profile{
        display: flex;
        margin-left: 18%;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    .profile .des{
        padding-top: 10%;
        padding-left: 10%;
    }
    .profile h5{
        color: #9E9E9E;
    }
    .profile h2{
        margin-bottom: 4%;
    }
    .profile .des p{
        text-align: justify;
        margin-top: 3%;
        /* padding-right: 5%; */
        font-weight: lighter;
    }
    /* ============== Profile Mobile Responsive ============= */
    @media (min-width: 320px) and (max-width: 480px) {
        .profile{
            margin: 0;
        }
        .profile .des{
            /* background: lightcoral; */
            margin: 0;  
            padding: 0 10% 0 2%;    
        }

        .profile h5{
            font-size: 6px;
        }
        .profile h2{
            font-size: 12px;
        }
        .profile h4{
            font-size: 9px;
        }
        .profile p{
            font-size: 9px;
            text-align: justify;
        }
        .profile img{
            margin-left: 7%;
            width: 35%;
            height: auto;
            /* content: url('img/Profile-mobile.png'); */
        }
    }

    /* ============== Account Switch CSS=============== */
    .switch .des{
        padding-top: 5%;
        padding-left: 18%;
        
    }
    .switch h5{
        color: #9E9E9E;
    }
    .switch h2{
        margin-bottom: 4%;
    }
    .switch .des p{
        width: 55%;
        text-align: justify;
        margin-top: 3%;
        /* padding-right: 5%; */
        font-weight: lighter;
    }
    .switch img{
        margin: 4% 7% 5% 15%;
    }

    /* ============ Account Switch Mobile Responsive ============ */
    @media (min-width: 320px) and (max-width: 480px) {
        .switch .des{
            margin: 10% 10% 8% 10%;   
            padding: 0;
            width: 75%;
        }

        .switch h5{
            font-size: 6px;
        }
        .switch h2{
            font-size: 12px;
        }
        .switch h4{
            font-size: 9px;
        }
        .switch .des p{
            width: 92%;
            font-size: 9px;
            text-align: justify;
        }
        .switch img{
            margin: 0;
            width: 100%;
            height: auto;
            /* content: url('img/Switch-mobile.png'); */
        }
    }


    /* ================ All Screen CSS ================= */
    .allscreen{
        margin-top: 5%;
        text-align: center;
    }
    .allscreen p{
        margin-bottom: 1%;
        color: #7B7A7A;
        font-family: 'Noto Sans';
    }
    .allscreen .img{
        background: #fefafa;
        padding: 5% 0 3% 0;
    }

    /* ============ All Screen Mobile Responsive =============== */
    @media (min-width: 320px) and (max-width: 480px) {
        .allscreen{
            margin-top: 10%;
        }
        .allscreen img{
            /* content: url('img/Allscreen-mobile.png'); */
            width: 100%;
            height: auto;
        }
        .allscreenmockup{
            margin: 10% 0;
            width: 100%;
            height: auto;
            /* content: url('img/lastbanner-mobile.png'); */
        }
    }

    

    /* ================== What I Learned ================= */
    .whatilearn{
        margin-top: 10%;
        margin-bottom: 15%;
        text-align: center;
    }
    .whatilearn p{
        margin: 5% 20%;
        text-align: justify;
        font-weight: lighter;
    }

    /* ============= WhatILearned Mobile Responsive ================= */
    @media (min-width: 320px) and (max-width: 480px) {
        .whatilearn{
            margin-bottom:25%;
        }
        .whatilearn h1{
            font-size: 13px;
        }
        .whatilearn p{
            margin: 5% 15%;
        }
    }
    /* ================== Thank You ================== */
    .thankyou{
        text-align: center;
        background: #fefafa;
        padding: 4% 0 5% 0;
    }
    .thankyou h2{
        font-family: 'Noto Sans';
        color: #5F5F5F;
        margin-bottom: 5%;
    }
    .thankyou .p1{
        color: #9D9D9D;
        margin-bottom: 0.5%;
    }
    .thankyou .icons{
        margin-left: -2%;
        margin-top: 5%;
    }
    .thankyou .icons i{
        font-size: 1.8em;
        margin-left: 2%;
    }

    /* ============== Thank You Mobile Responsive =============== */
    @media (min-width: 320px) and (max-width: 480px) {
        .thankyou h2{
            font-size: 13px;
        }
        .thankyou p{
            margin: 0 22%;
            font-size: 8px;
        }
        .thankyou .icons .fab{
            font-size: 1.2em;
        }
    }

    .mmm h3{
        margin-top: -1%;
        font-family: 'Noto Sans';
        margin-left: 2%;
    }

    /* ==================== Projects Nav CSS==================== */
    .projectsnav{
        /* background: chartreuse; */
        margin: 20% 30% 5% 30%;
        display: flex;
        justify-content: space-around;
    }
    .projectsnav h5{
        cursor: pointer;  
        font-weight: normal;   
       display: inline;
       color: #9A9A9A;
       
    }
    .projectsnav span{
        font-weight: bold;
        font-size: 1.2em;
        color: #869cff;
        /* color: rgb(43, 43, 43); */

        
    }
    .projectsnav a{
        color: inherit;
        text-decoration: none;
    }
    .projectsnav .daily{
        margin-top: 0.5%;
    }

    /* =========== Project Nav Mobile Responsive ============ */
    @media (min-width: 320px) and (max-width: 480px) {
        .projectsnav{
            margin: 0 0 7% 0;
            justify-content: center;
        }
        .projectsnav{
            font-size: 0.5em;
        }
        .projectsnav span{
            font-size: 1em
        }
        .projectsnav .me-project,.appathon-project,.cafeteria-project{
            margin-right: 3%;
        }
        .projectsnav .me-project img{
            content: url('img/cafe-line-mobile.png');
        }
        .projectsnav .appathon-project img{
            content: url('img/appathon-line-mobile.png');
        }
        .projectsnav .cafeteria-project img{
            content: url('img/cafe-line-mobile.png');
        }

    }


    /* ============== DailyUI Slider =============== */
    /* #dailyuislider {
        
        margin:auto;
        overflow:hidden;
        
    }
    
    .slide {
        
        float:left;
        text-align:center;
        
    } */